.container{
    
     border: 5px solid brown;
   display: flex;
   

}
.container{
 flex:1;
}
.container > .search{
flex:2;
}
/* just keep in your mind the .search{flex:2 will be less specific than .container > .search so use > for child selection} */

     

