.container{
    
     border: 5px solid brown;
   display: flex;
   

}
.logout{
  margin-left:auto;
  /* it will push the logout to the right */
}
.search{
  /* margin-left:auto;
  it will push the logout and search both to the border-right-style: ; */
}


     

