html  body{
  box-sizing: border-box;
  background-color: burlywood;
}
.container >div{
  border:1px solid brown;
 display:flex;
 
 align-items:center;
 justify-content:center;
}

.search{
  background-color: red;
}
.logout{
  background-color: blue;
}
.home{
  background-color: blueviolet;
}
/* if you want to display the item in  center both on main axis and cross axis  then 
just do it like this
.container{
  border:1px solid brown;
 display:flex;
 
 align-items:center;
 justify-content:center;
} */
     

